$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    } 
}

@mixin animation($time, $anim) {
    -webkit-animation: $time $anim;
    -moz-animation: $time $anim;
    -o-animation: $time $anim;
    animation: $time $anim;
}

@mixin animation-delay($time) {
    -webkit-animation-delay: $time;
    -moz-animation-delay: $time;
    -o-animation-delay: $time;
    animation-delay: $time;
}

@mixin animation-duration($time) {
    -webkit-animation-duration: $time;
    -moz-animation-duration: $time;
    -o-animation-duration: $time;
    animation-duration: $time;
}

@mixin transform($rule) {
    -webkit-transform: $rule;  /* Chrome, Opera 15+, Safari 3.1+  */
    -ms-transform: $rule;  /* IE 9 */
    transform: $rule;  /* Firefox 16+, IE 10+, Opera  */
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}


.inputs {
    #gender {
        margin-bottom: 10px;
        width: 30%;
    }

    li {
        display: inline-block;
        width: 200px;

        label {
            text-transform: capitalize;
        }

        input {
            @extend .form-control;
            @extend .input-sm;
            line-height: 1;
            font-size: 1.2rem;
            padding: 2px 10px;
            height: 30px;
        }

        // animation
        position: relative;

        &.ng-enter-stagger,
        &.ng-leave-stagger,
        &.ng-move-stagger {
            @include animation-delay(0.1s);
            @include animation-duration(0);
        }

        &.ng-enter {
            opacity: 0;
        }
        &.ng-enter.odd {
            @include animation(0.33s, swoosh-enter-left);
        }
        &.ng-enter.even {
            @include animation(0.35s, swoosh-enter-right);
        }
    }
}

@include keyframes(swoosh-enter-left) {
    from {
        left: -400px;
        top: -200px;
        opacity: 0;
        @include transform(rotate(-360deg));
    }
    to {
        left: 0;
        top: 0;
        opacity: 1;
        @include transform(rotate(0deg));
    }
}
@include keyframes(swoosh-enter-right) {
    from {
        right: -400px;
        top: -200px;
        opacity: 0;
        @include transform(rotate(360deg));
    }
    to {
        right: 0;
        top: 0;
        opacity: 1;
        @include transform(rotate(0deg));
    }
}

/*
    Sections Show
 */
.ng-hide-add,
.ng-hide-remove {
    display:block!important;
}

.ng-hide-add {
    @include animation(0.5s, hide);
    position: absolute;
}

.ng-hide-remove {
    @include animation(0.5s, show);
    position: relative;
}

@include keyframes(hide) {
    from {
        opacity:1;
        top: 0;
    }
    to {
        opacity:0;
        top: 500px;
    }
}

@include keyframes(show) {
    from {
        opacity:0;
        top: 500px;
    }
    to {
        opacity:1;
        top: 0;
    }
}



// General styles

.inputs,
.madlib {
    padding-bottom: 20px;
}

.madlib {
    span {
        @extend code;
    }
}



.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}
