<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>madlibs</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="MadLibs">

        <div class="container" >

            <h3>Madlib Love Letter</h3>

            <section class="inputs" ng-controller="MadLibController" ng-show="show">
                
                <form name="inputForm" ng-submit="submit(); submitted = true">
                    <p>Select your sweethearts gender</p>
                    <select class="form-control" name="gender" id="gender" required ng-model="gender" ng-options="gender.title for gender in genders">
                        <option value="">---gender---</option>
                    </select>
                    
                    <p>Please supply the following words</p>
                    <ul>
                        <li ng-repeat="word in words" ng-class-odd="'odd'" ng-class-even="'even'">
                            <label for="{{ word.name }}">{{ split(word.name) }}:</label>
                            <input id="{{ word.name }}" placeholder="{{ word.word }}" value="{{ word.word }}" type="text" required />
                        </li>
                    </ul>
                    <p ng-if="submitted && inputForm.$error.required">
                        All words are required
                    </p>


                    <button type="submit" class="btn btn-success">Create Madlib</button>
                    {{ words }}
                </form>
            </section>

            <section class="madlib" ng-controller="ResultController" ng-show="show">
                <p>Dear <span>{{ get('sweetheart') }}</span>,</p>

                <p>It has come to my <span>{{ get('noun') }}</span> that you are the <span>{{ get('superlative') }}</span>
                <span ng-if="gender.value=='female'">girl</span>
                <span ng-if="gender.value=='male'">boy</span>
                in the <span>{{ get('noun2') }}</span>. My <span>{{ get('body_part') }}</span> starts <span>{{ get('continuous_verb') }}</span> a <span>{{ get('noun3') }}</span> every time you speak. I would like to <span>{{ get('verb') }}</span> if you want to go to the <span>{{ get('event') }}</span> with me next <span>{{ get('day') }}</span>. If you <span>{{ get('verb2') }}</span> please <span>{{ get('verb3') }}</span> me at the <span>{{ get('place') }}</span> in <span>{{ get('time_span') }}</span>. I <span>{{ get('verb4') }}</span> you and everything about you.</p>

                <p><span>{{ get('adverb') }}</span>,</p>
                <p><span>{{ get('name') }}</span></p>

                <button ng-click="reset()" class="btn btn-success">Start Over</button>
            </section>

            <div class="footer">
                <p><span class="glyphicon glyphicon-heart"></span> from Tom</p>
            </div>

        </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->

        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
